.center {
	margin: 0 auto;
}

.footer {
	border-top: 1px solid #eee;
	//background-color: #E4E4E4;
	margin-top: 30px;
	padding-top: 30px;
}

.text-center th, td {
	text-align: center;
}

.title {
	margin-top: 30px;
}